@import './base.less';
#main{
    
        form{
            display: flex;
            padding: .1rem .1rem;
            #search{
                flex: 1;
                height: 0.34rem;
                border-radius: .06rem 0 0 .06rem;
                text-align: left;
                border: 1px solid @main-color;
                margin-bottom: 0;
            }
            #btn{
                width: .6rem;        
                height: 0.34rem;
                border-radius: 0 .06rem .06rem 0;
                color: #fff;
            }
        }
        .mui-table-view-cell:after{
            left: 0;
        }
   
}